@import "./navbar.scss";
@import "./element-ui.scss";
@import "./variables.scss";
@import "./ql-audio.scss";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100% !important;
  background-color: #F5F5F5;
  background-image: url("../assets/images/bg-main.jpg");
  //滚动条整体样式
  ::-webkit-scrollbar {
    width: 7px;
  }
  //滚动条里面小方块样式
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: rgb(225, 225, 225);
  }
  //滚动条里面轨道样式
  ::-webkit-scrollbar-track {
  }
}

html {
  box-sizing: border-box;
  width: 100% !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/**
  内容部分
 */
.main-wrapper {
  width: 100% !important;
  //导航
  .navbar-wrapper {
    width: $fullWidth;
  }
  //首页导航栏背景
  .nav-bg-home-wrapper{
    width: $fullWidth;
    background-image: url("../assets/images/bg-home-nav.jpg");
    height: 65px;
    position: fixed;
    z-index: 998;
  }
  //导航栏背景
  .nav-bg-wrapper {
    width: $fullWidth;
    background-image: url("../assets/images/bg-personal.jpg");
    background-size: cover;
    height: 65px;
    position: fixed;
    z-index: 998;
  }
  .content-wrapper {
    width: 100%;
    min-height: 100%;
    //第一种格式（home）
    .content-middle-one {
      width:$fullWidth;
      //轮翻图
      .home-el-carousel {
        .el-carousel__container {
          height: 270px;
        }
        .home-el-carousel-item {
          height: 250px;
        }
      }
      .content-middle {
        width: 900px;
        margin-left: 10vw;
        float: left;
        margin-top: 20px;
        //滚动条
        .el-scrollbar__wrap {
          overflow-x: hidden;
        }
        .middle-bbs-music {
          .list {
            padding-left: 0px;
            box-shadow: 0px -3px 0px 3px #fe0000;

            //.el-table__header-wrapper .el-table__header .has-gutter .el-table_1_column_1.is-leaf .cell {
            //  color: #fe0000;
            //  font-size: 19px;
            //  margin-left: 10px;
            //}

            .el-table-title {
              color: #fe0000;
              font-size: 19px;
              margin-left: 10px;
            }
            //音量
            .voice-wrapper {
              width: 15%;
              height: 15px;
              float: right;
              margin-top: -25px;
              margin-right: 50px;

              //音量图标
              .voice-icon-wrapper {
                .voice-icon {
                  cursor: pointer;
                  width: 1.1em;
                  height: 1.1em;
                }
              }

              //音量进度条
              .voice-progress {
                margin: -27px 0 0 22px;
                width: 99%;
                height: 25px;
                .el-slider__runway {
                  cursor: pointer;
                  height: 3px;
                  .el-slider__bar {
                    height: 3px;
                    background-color: #fe0000;
                  }
                  .el-slider__button-wrapper {
                    z-index: 997;
                    .el-slider__button {
                      border: 2px solid #fe0000;
                      width: 10px;
                      height: 10px;
                      margin-top: -3px;
                    }
                  }
                }
              }
            }

            //每一行音乐片段的div
            .bbs-music-row-wrapper {
              width: 870px;
            }
            .middle-title {
              font-weight: bold;
              font-size: 17px;
              color: black;
              margin-left: 8px;
            }
            .middle-title-span:hover {
              cursor: pointer;
              color: #fe0000;
            }
            .publisher {
              cursor: pointer;
              margin-left: -12px;
            }
            .publisher:hover {
              color: #fe0000;
            }
            .div-threeIcon {
              margin-left: 10px;
              cursor: pointer;
              width: 100px;
              .threeIcon:hover {
                color: #fe0000;
              }
              span {
                margin-left: 4px;
                color: #fe0000;
              }

            }
            .avatar-wrapper {
              cursor: pointer;
              margin-top: 18px;
              margin-left: 5px;
              .user-avatar {
                width: 28px !important;
                height: 28px;
                border-radius: 50px;
              }
            }
          }
        }
      }
      //右侧
      .content-right {
        margin-top: 10px;
        width: 290px !important;
        float: left;
        margin-left: 10px;
        .el-card{
          border: 1px solid #999999;
        }
        .el-card__header {
          background-color: #343434;
        }
        #right{
          //修饰颜色方块
          .div-embellish {
            width: 4px;
            height: 18px;
            background-color: #fe0000;
            border: 1px solid #fe0000;
            float: left;
            margin-right: 2px;
          }
          //按钮
          .right-button {
            float: right;
            margin-top: -4px;
            padding: 6px 10px
          }
          .right-button:hover {
            border: 1px solid #fe0000;
          }
          //最新消息
          .home-right-new-message-card{
            margin-top: 9px;
            .home-right-content-wrapper{
              .hrnmc-wrapper{
                height: 60px;
                .hrnmc-img{
                  float: left;
                  img{
                    border-radius: 5px;
                  }
                }
                .hrnmc-img:hover{
                  cursor: pointer;
                }
                .hrnmc-title{
                  padding-top: 2px;
                  margin-left: 76px;
                  font-weight: bold;
                  font-size: 14px;
                }
                .hrnmc-title:hover{
                  cursor: pointer;
                  color: #fe0000;
                }
              }
            }
          }
          .home-right-author-card{
            margin-top: 10px;
            .home-right-content-wrapper{
              .hrac-wrapper{
                height: 60px;
                .hrac-avatar-wrapper{
                  float: left;
                }
                .hrac-avatar-wrapper:hover{
                  cursor: pointer;
                }
                .hrac-info-wrapper{
                  margin-left: 75px;
                  .hi-name-wrapper{
                    padding-top: 4px;
                    .hi-name{
                      font-weight: bold;
                      font-size: 14px;
                      float: left;
                    }
                    .hi-name:hover{
                      cursor: pointer;
                      color: #fe0000;
                    }
                    .hi-img{
                      margin-top: -3px;
                      margin-left: 46px;
                    }
                  }
                  .hi-honor{

                  }
                }
              }
            }
          }
        }
      }
    }
    //第二种格式（user）
    .content-middle-two {
      //border: 1px solid red;
      //背景封面
      .head-bg-wrapper {
        background-image: url("../assets/images/bg-personal.jpg");
        background-size: cover;
        background-position-y: -65px;
        height: 200px;
        width: $fullWidth !important;
        //position: fixed;
        //z-index: 997;
        .personal-avatar-warpper {
          float: left;
          padding-top: 45px;
          width: 98px !important;
          margin-left: 200px;
          .avatar-warpper {
            height: 110px;
            .update-avatar-div {
              position: relative;
              top: -58px;
              font-size: 13px;
              background-color: rgba(0, 0, 0, 0.7);
              color: white;
              height: 26px;
              width: 95px;
              text-align: center;
              padding-top: 5px;
              border-radius: 100px;
            }
          }
          .avatar-warpper:hover {
            cursor: pointer;
          }
          .music-age {
            color: white;
            font-size: 13px;
          }
        }
        .personal-name-warpper {
          float: left;
          color: white;
          margin-top: 60px;
          margin-left: 45px;
          font-weight: bold;
          font-size: 16px;
        }
      }
      //信息内容
      .personal-content-wrapper {
        margin-left: 10vw;
        width: 1205px;
        #left2 {
          width: 250px;
          position: fixed;
          /* 支持现代浏览器 */
          //-webkit-transform: translate(0%, -84%);
          //transform: translate(0%, -84%);
          float: left;
          .left2-card {

            border-radius: 0;
            overflow-y: auto;
            .el-menu-item {
              font-size: 15px;
              height: 50px;
              line-height: 50px;
            }
            .el-menu-item.is-active {
              background-color: #fe0000 !important;
              color: white;
            }
            .el-menu-item:not(.is-active):hover {
              background-color: #f0f0f0 !important;
            }
          }
        }
        #right2 {
          width: 945px !important;
          margin-left: 250px;
          //收藏
          #collect {
            .el-dialog__title {
              font-weight: bold;
            }
            .el-transfer-panel {
              width: 360px;
            }
            .el-transfer-panel__item {

            }
          }
        }
      }
    }

    //第三种格式（bbsMusic）
    .content-middle-three {
      .bbsMusic-title-wrapper{
        padding: 0px 10vw;
        .bbsMusic-title{
          padding-top: 33px;
          height: 80px;
          color: #fafafa;
          font-size: 21px;
        }
      }

      .bbsMusic-content-wrapper {
        margin-left: 10vw;
        margin-top: 10px;
        width: 1200px;
        #left3 {
          width: 910px;
          float: left;
          //我的音乐
          #myMusic {
            .el-slider__runway {
              cursor: pointer;
              height: 3px;
              .el-slider__bar {
                height: 3px;
                background-color: #fe0000;
              }
              .el-slider__button-wrapper {
                z-index: 997;
                .el-slider__button {
                  border: 2px solid #fe0000;
                  width: 10px;
                  height: 10px;
                  margin-top: -3px;
                }
              }
            }
          }
        }
        #right3 {
          width: 280px;
          margin-left: 918px;
          .bbs-music-user-info-wrapper{
            //card卡片
            .bbs-music-user-info-card{
              //第一行
              .user-info-one-wrapper{
                //头像
                .user-info-avatar-wrapper{
                  float: left;
                }
                //名称
                .user-info-name-wrapper{
                  width: 160px;
                  float: left;
                  padding-top: 3px;
                  margin-left: 20px;
                  font-size: 15px;
                }
                .user-info-age-wrapper{
                  font-size: 12px;
                  padding-top: 10px;
                  padding-top: 30px;
                  margin-left: 74px;
                }
              }
              //第二行
              .user-info-two-wrapper{
                margin-top: 20px;
                .num{
                  font-size: 14px;
                }
                .seeNum{
                  float: left;
                  text-align: center;
                  .see-text{
                    margin-top: 5px;
                  }
                }
                .fanNum{
                  float: left;
                  text-align: center;
                  margin-left: 23px;
                  .fan-text{
                    margin-top: 5px;
                  }
                }
                .likeNum{
                  float: left;
                  text-align: center;
                  margin-left: 23px;
                  .like-text{
                    margin-top: 5px;
                  }
                }
                .commentNum{
                  float: left;
                  text-align: center;
                  margin-left: 23px;
                  .comment-text{
                    margin-top: 5px;
                  }
                }
                .collectNum{
                  float: left;
                  text-align: center;
                  margin-top: 8px;
                  .collect-text{
                    margin-top: 5px;
                  }
                }
              }
              //第三行
              .user-info-three-wrapper{
                float: left;
                margin-top: 25px;
                margin-bottom: 16px;
              }
            }
          }
          .title{
            height: 35px;
            border-bottom:1px solid #e8e8e8;
            span{
              font-weight: bold;
              float: left;
              margin-top: 5px;
            }
            z-index: 1;
            .title-img{
              position: relative;
              top: -17px;
              left: 163px;
              z-index: 100;
            }
          }
          //热门音乐
          .bbs-music-hot-wrapper{
            margin-top: 8px;
            .bbs-music-hot-card{
              .hot-content{

              }
            }
          }
          //最新音乐
          .bbs-music-new-wrapper{
            margin-top: 8px;
            .bbs-music-new-card{

            }
          }
          //音乐分类
          .bbs-music-sort-wrapper{
            margin-top: 8px;
            .bbs-music-sort-card{

            }
          }
        }
      }
    }
    //管理格式
    .content-middle-manage {
      #manage {
        .manage-content-wrapper {
          margin-left: 10vw;
          width: 1200px;
          #left-manage {
            width: 250px;
            float: left;
            position: fixed;
            .left-manage-card {
              border-radius: 0;
              overflow-y: auto;
              height: 688px;
              .release-button-wrapper {
                text-align: center;
                .release-button {
                  width: 200px;
                  border-radius: 20px;
                  font-size: 16px;
                }
              }
              .left-manage-nav-wrapper {
                .el-menu-item {
                  font-size: 14px;
                  height: 50px;
                  line-height: 50px;
                }
                .el-menu-item.is-active {
                  color: #fe0000;
                }
                .el-menu-item.is-active i {
                  border-left: 4px solid #fe0000;
                }
                .el-menu-item i {
                  width: 60px;
                  margin-left: -20px;
                  padding-left: 30px;
                }
                .el-menu-item:not(.is-active):hover {
                  background-color: #e8e8e8 !important;
                }
              }
              .left-manage-footer-wrapper {
                height: 280px;
                padding: 20px;
                .left-manage-footer {
                  font-size: 12px;
                  color: #999999;
                }
                .left-manage-wx-qrcode{
                  text-align: center;
                }
              }
            }
          }
          #right-manage {
            width: 940px;
            margin-left: 250px;
            .right-manage-card{
              border-radius: 0;
            }
          }
        }
      }
    }

  }
}

.el-row:focus {
  outline: none;
}

.el-col:focus {
  outline: none;
}

// input的placeholde属性
::-webkit-input-placeholder { /* WebKit browsers */
  color: #C4C4C4;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #C4C4C4;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #C4C4C4;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #C4C4C4;
}
