@import "./navbar.scss";
@import "./element-ui.scss";
@import "./variables.scss";
@import "./mixin.scss";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

//内容部分
.content-wrapper{
  padding: 20px 140px 0 140px;
  height: 100%;
  .content-middle{
    width:890px !important;
    display:inline-block;
    margin-left: 5px;
  }
  .content-right{
    width: 330px !important;
    display:inline-block;
    margin-left: 15px;
  }
}
.el-row:focus {
  outline: none;
}
.el-col:focus {
  outline: none;
}

//修饰颜色方块
.div-embellish{
  width: 2px;
  height: 18px;
  background-color: #fe0000;
  position: absolute;
  top: 99px;
  right: 458px;
}
