// 框框
.navbar {
  position: fixed;
  height: 65px;
  border-radius: 0px !important;
  padding-right: 100px;
  width: 100%;
  z-index: 999;
  .el-menu-item:not(.is-active):hover {
    background-color: rgba(255,255,255,0) !important;
  }
  .el-menu-item-first {
    margin-left: 8.89375%;
    height: 65px;
    .img-logo {
    }
  }
  .nav-link {
    margin-left: 8.89375%;
  }
  // 路由链接
  .nav-router-link {
    float: left;
    .el-menu-item {
      height: 65px;
      line-height: 66px;
    }
    .el-menu-item.is-active{
      background-color: #000000 !important;
    }
    .el-menu-item.is-active:hover {
      background-color: #000000 !important;
    }
    .el-menu-item:not(.is-active):hover {
      background-color: #fe0000 !important;
    }
  }
  // 搜索框
  .el-menu-item-select {
    height: 65px;
    line-height: 51px;
  }

  // 收藏
  .collect-container {
    height: 53px;
    line-height: 72px;
    position: absolute;
    right: 205px;
    .collect-wrapper {
      cursor: pointer;
      .svg-collect {

      }
    }
  }
  // 消息
  .info-container {
    height: 53px;
    line-height: 72px;
    position: absolute;
    right: 175px;
    .info-wrapper {
      cursor: pointer;
      .svg-info {

      }
    }
  }
  //用户未登录
  .login-container {
    height: 53px;
    position: absolute;
    top: 26px;
    right: 130px;
    cursor: pointer;
    color: white;
  }
  .login-container:hover {
    color: #fe0000;
  }
  .el-dialog-user {
    .el-dialog-tabs{
      .tabs-label{
        font-size: 13px;
        color: #000000;
        font-weight: bold;
      }
      .tabs-input{
        margin-top: 6px;
        border: none;
        background-color: #F7F7F7;
        height: 29px;
        width: 300px;
      }
      .tabs-input:focus{
        outline:none;
      }
      .tabs-log-button{
        width: 300px;
        height: 45px;
        border-radius: 50px;
      }
      .tabs-reg-forget{
        .el-col{
          font-size: 13px;
          .tabs-reg{
            cursor: pointer;
          }
        }
      }
      .tabs-oauth{
        margin-top: 5px;
        padding-right: 65px;
        .el-col{
          margin-left: 5px;
          img{
            cursor: pointer;
          }
        }
      }
      //手机号验证
      .tabs-tel-content{
        .el-input .el-input__inner{
          height: 29px;
          background-color: #F7F7F7;
          border: 1px solid #F7F7F7;
          color: #000000;
        }
        .el-input .el-input__inner:hover{
          border: none;
        }
        .el-input .el-input__inner:focus {
          border:none;
        }
        .el-input .el-input__inner:not(.is-focus){
          border: 1px solid #F7F7F7;
        }
        .el-select .el-input .el-input__inner{
          margin-left: -1px;
          margin-top: 4px;
          width: 100px;
          background-color: #F7F7F7;
          border: none;
          border-radius: 0px;
        }
        .el-select .el-input.is-focus .el-input__inner:focus {
          border:none
        }
        .el-select .el-input:not(.is-focus) .el-input__inner:focus {
          border:none
        }
        .el-input__suffix{
          margin-top: 6px;
        }
        .el-input .el-input--suffix.is-focus{
          .el-input__suffix {
            margin-top: -1px;
          }
        }

        .tabs-verify{
          width: 180px;
        }
        .verify-button{
          margin-left: 10px;
          padding: 8px 0px;
          width: 110px;
          background-color: #F7F7F7;
          border: 1px solid #F7F7F7;
          color: 	#C4C4C4;
          font-size: 12px;
        }
      }
    }
    // 注册
    .el-dialog-tabs-reg{
      .tabs-reg-return-log{
        font-size: 13px;
        cursor: pointer;
        margin-top: 20px;
        margin-left: -50px;
      }
      .tabs-reg-return-prev{
        font-size: 13px;
        cursor: pointer;
        margin-left: -50px;
        margin-top: 70px;
      }
    }
  }
  // 用户
  .avatar-container {
    height: 52px;
    position: absolute;
    right: 130px;
    .avatar-wrapper {
      cursor: pointer;
      margin-top: 19px;
      .user-avatar {
        width: 30px !important;
        height: 30px;
        border-radius: 50px;
      }
      .el-icon-caret-bottom {
        font-size: 12px;
      }
    }
  }
}

//菜单按钮
.menu-button {
  display: none;
}

//搜索框
.select-box {
  width: 26vw !important;
  height: 30px;
  margin-top: 15px;
  .el-button {
    padding: 0px 2px 0px 8px;
  }
}

//显示内容
.select-content {
  position: absolute;
  top: 65px;
  left: 20px;
  height: 320px;
  width: 26vw !important;
  background-color: white;
  z-index: 998;
}

//移动端6/7/8
.mobile {
  .navbar-wrapper {
    //padding-left: 36px;
    .menu-button {
      display: block;
      //height: 59px;
      //line-height: 55px;
      //margin-left: -23%;
      position: absolute;
      top: -2px;
      left: -1.2%;
      z-index: 888;
      width: 50px;
      height: 60px;
    }
    .el-menu-item-first {
      .img-logo {
        width: 62px !important;
        height: 60px;
        margin-left: 10%;
      }
    }
    .nav-link {
      display: none;
    }
    .el-menu-item-select {
      .select-box {
        width: 35vw !important;
        height: 30px;
        position: absolute;
        top: -1px;
        left: -3%;
        .el-button {
          padding: 0px 0px 0px 7px;
        }
      }
    }
    .collect-container {
      display: none;
    }
    .info-container {
      display: none;
    }
    // 未登录
    .login-container{
      position: absolute;
      top: 22px;
      right: 4%;
    }

    // 已登录
    .avatar-container {
      height: 52px;
      position: absolute;
      left: 87%;
      .avatar-wrapper {
        cursor: pointer;
        margin-top: 15px;
        .user-avatar {
        }
        .el-icon-caret-bottom {
          font-size: 12px;
        }
      }
    }
  }
  .content-wrapper {
    padding-top: 60px;
    .content-middle {
      margin-left: 0px;
      width: 100% !important;
    }
    .content-right {
      display: none;
    }
  }

}
