// 框框
.navbar {
  height: 60px;
  border-radius: 0px !important;
  padding-left: 100px;
  padding-right: 100px;
  .el-menu-item-first {
    height: 59px;
    .img-logo {
    }
  }
  // 路由链接
  .nav-router-link {
    float: left;
    .el-menu-item {
      height: 59px;
      line-height: 63px;
    }
    .el-menu-item:not(.is-active):hover {
      background-color: #fe0000 !important;
    }
  }
  // 搜索框
  .el-menu-item-select {
    float: left;
    height: 59px;
    line-height: 47px;
  }

  // 收藏
  .collect-container {
    height: 47px;
    line-height: 68px;
    position: absolute;
    right: 195px;
    .collect-wrapper {
      cursor: pointer;
      .svg-collect {

      }
    }
  }
  // 消息
  .info-container {
    height: 47px;
    line-height: 68px;
    position: absolute;
    right: 165px;
    .info-wrapper {
      cursor: pointer;
      .svg-info {

      }
    }
  }
  // 用户
  .avatar-container {
    height: 47px;
    position: absolute;
    right: 120px;
    .avatar-wrapper {
      cursor: pointer;
      margin-top: 18px;
      .user-avatar {
        width: 30px !important;
        height: 30px;
        border-radius: 10px;
      }
      .el-icon-caret-bottom {
        font-size: 12px;
      }
    }
  }
}

//菜单按钮
.menu-button {
  display: none;
}

//搜索框
.select-box {
  width: 400px !important;
  height: 30px;
  margin: 15px 0px 0px 20px;
  .el-button {
    padding: 0px 12px;
  }
}

//显示内容
.select-content {
  position: absolute;
  top: 60px;
  left: 445px;
  height: 320px;
  width: 400px !important;
  background-color: antiquewhite;
  z-index: 999;
}


.user-dropdown {
  position: relative;

}

//移动端6/7/8
.mobile {
  .navbar-wrapper {
    padding-left: 36px;
    .menu-button {
      display: block;
      height: 59px;
      line-height: 55px;
      margin-left: -36px;
    }
    .el-menu-item-first {
      //margin: -58px 0 0 30px;
      .img-logo {
        width: 62px !important;
        height: 60px;
        margin-left: -30px;
      }
    }
    .nav-link {
      display: none;
    }
    .select-box {
      width: 160px !important;
      height: 30px;
      position: fixed;
      top: -1px;
      left: 120px;
      .el-button {
        padding: 0px 0px 0px 7px;
      }
    }

    .collect-container{
      display: none;
    }
    .info-container{
      display: none;
    }
    .avatar-container {
      margin-left: 90px;
      position: absolute;
      top: -3px;
      left: 236px;
      .avatar-wrapper {
        cursor: pointer;
        margin-top: 14px;
        .user-avatar {
        }
        .el-icon-caret-bottom {
          font-size: 12px;
        }
      }
    }
  }
  .content-wrapper {
    padding: 10px 0px;
    .content-middle {
      margin-left: 0px;
      width: 375px !important;
    }
    .content-right {
      display: none;
    }
  }

}
