.ql-audio {
  height: 50px;
  width: 29vw;
  background-color: rgba(230, 230, 230, 0.5);
  margin-top: 8px;
  border-radius: 40px;
  z-index: 4;
  //歌曲图片头像
  .audio-avatar-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    float: left;
    z-index: 3;
    @-webkit-keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    .audio-avatar {
      //兼容不同版本浏览器
      //3s 为转速 值越小 速度越快
      //-webkit-transform: rotate(360deg);
      //animation: rotation 3s linear infinite;
      //-moz-animation: rotation 3s linear infinite;
      //-webkit-animation: rotation 3s linear infinite;
      //-o-animation: rotation 3s linear infinite;
      height: 52px;
      width: 52px;
      margin-left: -2px;
    }
    .play-avatar-wrapper {
      z-index: 2;
      position: relative;
      top: -41px;
      left: 9px;
      .play-avatar {
        width: 30px !important;
        height: 30px;
        border-radius: 40px;
        cursor: pointer;
      }
    }

    .play-avatar:hover {
      transform: scale(1.2);
      -ms-transform: scale(1.2);
      transition: all 0.3s;
    }
  }
  //进度条
  .audio-progress-wrapper {
    width: 410px;
    margin-left: 62px;
    //提示条
    .audio-start-time {
      width: 80px;
      border-radius: 50px;
      position: absolute;
      top: 25px;
    }
    .audio-end-time {
      position: absolute;
      top: 25px;
      right: 186px;
    }
    .el-slider__runway {
      height: 4px;
      .el-slider__bar {
        height: 3px;
        background-color: #fe0000;
      }
      .el-slider__button-wrapper {
        .el-slider__button {
          border: 2px solid white;
          width: 10px;
          height: 10px;
          margin-top: -2px;
        }
      }
    }
  }
  //首页音乐进度效果条
  .audio-progress-effect-wrapper {
    height: 50px;
    position: relative;
    top: -49px;
    z-index: 1;
    .audio-progress-effect-img-static {
      margin-left: 30px;
      width: 27vw;
      height: 50px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
    .audio-progress-effect-img{
      margin-left: 30px;
      width: 27vw;
      height: 50px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
  //音量
  .voice-wrapper {
    width: 15%;
    height: 15px;
    float: right;
    margin-top: -25px;
    margin-right: 50px;
    //音量图标
    .voice-icon-wrapper {
      .voice-icon {
        cursor: pointer;
        width: 1.1em;
        height: 1.1em;
      }
    }
    //音量进度条
    .voice-progress {
      cursor: pointer;
      margin: -26px 0 0 22px;
      width: 99%;
      .el-slider__runway {
        height: 3px;
        .el-slider__bar {
          height: 3px;
          background-color: #fe0000;
        }
        .el-slider__button-wrapper {
          .el-slider__button {
            border: 2px solid white;
            width: 8px;
            height: 8px;
            margin-top: -2px;
          }
        }
      }
    }
  }
}

